.div {
  margin-top: 63.59px;
  max-width: 1440px;
  padding: 20px 20px;
}
.ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.li {
  width: calc((100% + 50px) / 5 - 50px);
  background-color: rgb(255, 255, 255);
  transition: box-shadow 300ms ease-in-out 0s, transform 300ms ease-in-out 0s;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  min-height: 394px;
}
.li:hover {
  transform: scale(1.05);
}
.link {
  text-decoration: none;
  color: black;
}
.img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  aspect-ratio: 0.7;
}
.title {
  text-transform: uppercase;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  width: 100%;
  margin: 0;
  padding: 5px;
}
